        {{ $paginator := .Paginate (where .Data.Pages.ByDate.Reverse "Type" "post") 8 }}{{ range $paginator.Pages }}
        <article class="post-list-article">
{{if isset .Params "featuredimage" }}<a class="post-card-image-link" href="{{ .Permalink }}">
            <div class="post-card-image" style="background-image: url({{ index .Params "featuredimage" }})"></div>
        </a>{{ end }}
       <div class="post-card-content">
            <h2 class="post-list-article-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
           {{ with .Params.categories }}{{ range . }}
            <a href="/categories/{{ . | urlize}}/">{{ . }}</a>{{ end }} | {{ end }}<time>{{ .Date.Format "2006-01-02 15:04:05" }}</time>
           
            <div class="post-content">
                <section class="entry-content">
   <p> {{ with .Description }}
          {{ . | markdownify }}
        {{ else }}
          {{ if .Truncated }}
            {{ .Summary | markdownify }}
          {{ end }}
        {{ end }}</p>
  </section>
           </div> </div>{{ if .Truncated }}
{{ end }}
        </article>{{ end }}
